body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  background-image: url("./images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

button {
  background: none;
  border: none;
  padding: 0;
}

.console-card {
  background-color: rgba(255, 255, 255, 0.2);
  width: 325px;
  height: 300px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 50px;

  backdrop-filter: blur(40px);
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.console-card img {
  margin-bottom: 20px;
  max-width: 200px;
  max-height: 200px;
}

.console-card:hover {
  background-color: rgba(255, 255, 255, 0.7);
  transition: 0.2s;
}

.glass {
  background-color: rgba(255, 255, 255, 0.6) !important;
  backdrop-filter: blur(40px);
  border: solid 2px transparent;
}

.glass-background {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(40px);
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.card-text {
  font-size: 20px;
}

.go-back {
  border-radius: 15px;
  padding: 10px;
}

.go-back:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transition: 0.2s;
}

.console-page {
  margin-top: 75px;
  padding: 30px;
  border-radius: 20px;
  min-height: 300px;
}

.console-page img {
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 300px;
}

.console-name {
  font-size: 56px;
}
