body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  background-image: url("./images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

button {
  background: none;
  border: none;
  padding: 0;
}

.console-card {
  background-color: aqua;
  max-width: 200px;
  max-height: 200px;
  margin-bottom: 50px;
}
